<% layout('./layouts/boilerplate') %>
<h1 class="mt-3"><%= actionType %> Playground</h1>
<form action="<%= actionDest %>" method="post">
    <input type="hidden" name="_csrf" value="<%= csrftoken %>">
    <div class="mb-3">
        <label for="name" class="form-label">Playground name</label>
        <input type="text" class="form-control" id="name" name="playground[name]" value="<%= actionType === 'Edit' ? playground.name : "" %>">
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Playground type</label>
        <input class="form-control" list="types" id="type" name="playground[type]" value="<%= actionType === 'Edit' ? playground.type : "" %>"/>
        <datalist id="types">
            <% for(let type of types) { %> 
                <option value="<%= type %>"><%= type %></option>
            <% } %>
        </datalist>
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="address">Address</label>
        <input class="form-control" type="text" name="playground[address]" id="address" value="<%= actionType === 'Edit' ? playground.address : "" %>">
    </div>
    <div class="row mb-3">
        <div class="col">
            <label class="form-control" for="lat">Latitude</label>
        </div>
        <div class="col">
            <input class="form-control" type="number" name="playground[lat]" id="lat" min="-90" max="90" step="any" value="<%= actionType === 'Edit' ? playground.location.coordinates[1] : "" %>">
        </div>
        <div class="col">
            <label class="form-control" for="lng">Longitude</label>
        </div>
        <div class="col">
            <input class="form-control" type="number" name="playground[lng]" id="lng" min="-180" max="180" step="any" value="<%= actionType === 'Edit' ? playground.location.coordinates[0] : "" %>">
        </div>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age group</label>
        <input type="text" class="form-control" id="age" name="playground[age_group]" value="<%= actionType === 'Edit' ? playground.age_group : "" %>">
    </div>
    <div class="mb-3">
        <label for="equipment" class="form-label">Equipment</label>
        <textarea class="form-control" name="playground[equipment]" id="equipment" cols="30" rows="2"><%= actionType === 'Edit' ? playground.equipment : "" %></textarea>
    </div>
    <div class="mb-3">
        <label for="equipment" class="form-label">Description</label>
        <textarea class="form-control" name="playground[description]" id="description" cols="30" rows="2"><%= actionType === 'Edit' ? playground.description : "" %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>