<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My playground in Dusseldorf</title>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />


    <link rel="stylesheet" href="/css/base/searchResultPage.css">


    <script src="https://kit.fontawesome.com/cb28a685ae.js" crossorigin="anonymous"></script>

</head>


<body>


    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
    </svg>

    <main>


        <div class="container">



            <!-- nav for mobile view -->
            <nav class="navbar fixed-top navbar-light bg-white">

                <div class="d-md-none d-lg-none d-xl-none">

                    <a class="btn btn-link btn-floating btn-md text-dark ps-3" href="/" role="button"
                        data-bs-ripple-color="dark"><i class="fa-solid fa-angle-left"></i></a>

                    <!-- Please make the placeholder of the following input box the address entered by user for search -->

                    <input id="locationDisplayMobile" type="text" class="rounded-pill text-muted px-5"
                        data-bs-toggle="modal" data-bs-target="#searchBoxModal" placeholder="Enter address" readonly>

                </div>

                <!-- search filters in navbar for mobile view  -->

                <div class="mx-auto my-2 filters">

                    <button class="btn btn-outline-dark btn-sm rounded-pill" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottomType" aria-controls="offcanvasBottomType">Type</button>

                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomType"
                        aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Select playground type</h5>
                            <button id="closeTypeFilter" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>



                        <div class="offcanvas-body small">

                            <!-- form for type filter, please add action here!  -->
                            <form id="typeForm" class="" action="" method="get" autocomplete="off">

                                <div class="d-flex d-flex align-content-start flex-wrap my-2">
                                    <% for(let type of types) { %> 
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="<%= type %>" name="type" value="<%= type %>">
                                        <label class="form-check-label" for="<%= type %>"><%= type %>
                                        </label>
                                    </div>
                                    <% } %>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1"
                                        data-bs-dismiss="offcanvas">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-sm mx-1">Apply filter</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <button class="btn btn-outline-dark btn-sm rounded-pill" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottomAge" aria-controls="offcanvasBottomAge">Age</button>

                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomAge"
                        aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Select Age</h5>
                            <button id="closeAgeFilter" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>



                        <div class="offcanvas-body small">

                            <!-- form for age filter, please add action here!  -->
                            <form id="ageForm" class="" action="" method="get" autocomplete="off">

                                <div class="d-flex d-flex align-content-start flex-wrap my-2">

                                    <div class="me-3">
                                        <label for="minAge" class="form-label">Min. age:</label>
                                        <select id="minAge" class="form-select" aria-label="Minimal age">
                                            <% for(let i = 0; i <= 16; i++) { %> 
                                            <option value=<%= i %>><%= i %></option>
                                            <% } %> 
                                          </select>
                                    </div>

                                    <div>
                                        <label for="maxAge" class="form-label">Max. age:</label>
                                        <select id="maxAge" class="form-select" aria-label="Maximal age">
                                            <option value="any">Any</option>
                                            <% for(let i = 0; i <= 16; i++) { %> 
                                            <option value="<%= i %>"><%= i %></option>
                                            <% } %> 
                                          </select>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1"
                                        data-bs-dismiss="offcanvas">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-sm mx-1">Apply filter</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <button class="btn btn-outline-dark btn-sm rounded-pill" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottomEquipments"
                        aria-controls="offcanvasBottomEquipments">Equipment</button>

                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomEquipments"
                        aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Select Equipment</h5>
                            <button id="closeEquipFilter" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body small">

                            <!-- form for equipment filter, please add action here!  -->

                            <form id="equipForm" class="" action="" method="get" autocomplete="off">

                                <div class="d-flex d-flex align-content-start flex-wrap my-2">

                                    <% for(let equipment of playgroundEquipment) { %> 
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="<%= equipment %>" name="equipment" value="<%= equipment %>">
                                        <label class="form-check-label" for="<%= equipment %>"><%= equipment %></label>
                                    </div>
                                    <% } %> 

                                </div>


                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1"
                                        data-bs-dismiss="offcanvas">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-sm mx-1">Apply filter</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <button class="btn btn-outline-dark btn-sm rounded-pill" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottomFeatures"
                        aria-controls="offcanvasBottomFeatures">Features</button>

                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomFeatures"
                        aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Select Features</h5>
                            <button id="closeFeatureFilter" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body small">

                            <!-- form for Feature filter, please add action here!  -->
                            <form id="featureForm" class="" action="" method="get" autocomplete="off">

                                <div class="d-flex d-flex align-content-start flex-wrap my-2">

                                    <% for(let feature of playgroundLabels) { %> 
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="<%= feature %>" name="features" value="<%= feature %>">
                                        <label class="form-check-label" for="<%= feature %>"><%= feature %></label>
                                    </div>
                                    <% } %>

                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1"
                                        data-bs-dismiss="offcanvas">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-sm mx-1">Apply filter</button>
                                </div>

                            </form>
                        </div>
                    </div>


                    <button class="btn btn-outline-dark btn-sm rounded-pill" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottomRatings" aria-controls="offcanvasBottomRatings">Ratings</button>

                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomRatings"
                        aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Select Ratings</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body small">


                            <!-- form for Rating filter, please add action here!  -->

                            <form class="" action="" method="get" autocomplete="off">

                                <div class="d-flex d-flex align-content-start flex-wrap my-2">


                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="kids_playground"
                                            name="kids_playground" checked>
                                        <label class="form-check-label" for="kids_playground">Kids playground
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input type="checkbox" class="form-check-input" id="bolzplatz" name="bolzplatz">
                                        <label class="form-check-label" for="bolzplatz">Kickers playground
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="skaters_playground"
                                            name="skaters_playground">
                                        <label class="form-check-label" for="skaters_playground">Skaters
                                            playground</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="other_playground"
                                            name="other_playground">
                                        <label class="form-check-label" for="other_playground">Others</label>
                                    </div>



                                </div>


                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1"
                                        data-bs-dismiss="offcanvas">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-sm mx-1">Apply filter</button>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>

            </nav>


        </div>


        <!-- mobile view popup search window -->

        <div class="modal d-md-none d-lg-none d-xl-none" id="searchBoxModal" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-md-down">
                <div class="modal-content">

                    <!-- form for address and search radius in mobile view, please add action here! -->

                    <form class="" id="searchform-landingpage-mobileview" action="" method="get" autocomplete="off">
                        <div class="modal-header">

                            <i class="fa fa-md fa-map-marker" aria-hidden="true" onclick='getLocation()'></i>
                            <label for="autocompleteInResultPage" class="form-label col-1"></label>
                            <input class="modal-title col-10 border-0 autocomplete" id="autocompleteInResultPage"
                                placeholder="Enter address" type="search">

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">

                            <div class="my-2">

                                <h3>How close should it be?</h3>

                                <label for="dist">
                                    Search radius in km:
                                </label> <br>
                                <input id="distMobile" name="dist" type="range" value="<%= dist %>" min="1" max="5"
                                    class=" d-flex justify-content-center form-range w-100 mt-2">
                                <output class="d-flex justify-content-center"><%= dist %></output>

                            </div>


                        </div>

                        <div class="modal-footer mb-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- nav for tablet and laptop -->

        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light d-none d-md-block d-lg-block d-xl-block">
            <div class="d-grid">
                <div class="row">
                    <div class="navbar col-2 d-flex justify-content-center">
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="navbar-brand" href="/"><img src="/images/base/playground.png" alt="logo"
                                        height="40" loading="lazy"></a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-6 my-2">

                        <!-- form for address and search radius in tablet and laptop view , please add action here! -->

                        <form id="searchFormPlaceLg" action="/search">

                            <div class="input-group d-flex align-items-center">

                                <div>

                                    <label for="selectSearchRadius">Search radius...</label>

                                    <select class="custom-select me-2" id="selectSearchRadius">
                                        <% for(let i=1; i < 6; i++) { %>
                                            <option name="dist" value="<%= i %>" <%=dist==i ? "selected" : "" %>><%= i %> km
                                            </option>
                                            <% } %>
                                    </select>

                                </div>

                                <input id="autocompleteLg" class="autocomplete" placeholder="Enter address"
                                    value="<%= q %>" type="search">

                                <button type="submit" class="btn btn-danger btn-sm rounded-circle"><i
                                        class="fas fa-lg fa-search"></i></button>

                            </div>


                        </form>

                    </div>

                    <div class="navbar col-4 d-flex justify-content-center">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/playgrounds/new">Add new playground</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/login"> <i class="far fa-lg fa-user-circle"></i> </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center my-2 filters">

                <button class="btn btn-outline-dark btn-lg rounded-pill" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottomType" aria-controls="offcanvasBottomType">Type</button>
                <button class="btn btn-outline-dark btn-lg rounded-pill" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottomAge" aria-controls="offcanvasBottomAge">Age</button>
                <button class="btn btn-outline-dark btn-lg rounded-pill" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottomEquipments"
                    aria-controls="offcanvasBottomEquipments">Equipments</button>
                <button class="btn btn-outline-dark btn-lg rounded-pill" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottomFeatures" aria-controls="offcanvasBottomFeatures">Features</button>
                <button class="btn btn-outline-dark btn-lg rounded-pill" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottomRatings" aria-controls="offcanvasBottomRatings">Ratings</button>

            </div>

        </nav>




        <!-- bottom navbar -->


        <nav class="navbar fixed-bottom navbar-light bg-light d-md-none d-lg-none d-xl-none">
            <div class="container">
                <ul class="navbar-nav mx-auto my-0 d-flex flex-row">
                    <li class="nav-item text-center mx-2">
                        <a class="nav-link" href="/playgrounds">
                            <div>
                                <i class="fas fa-lg fa-search"></i>
                            </div>
                            <h6>Explore</h6>
                        </a>
                    </li>

                    <!-- please add link for creating new playground page here-->


                    <li class="nav-item text-center mx-2">
                        <a class="nav-link" href="/playgrounds/new">
                            <div>
                                <i class="fas fa-lg fa-plus-circle"></i>
                            </div>
                            <h6>Contribute</h6>
                        </a>
                    </li>

                    <!-- please add link for login page here-->

                    <li class="nav-item text-center mx-2">
                        <a class="nav-link" href="/login">
                            <div>
                                <i class="far fa-lg fa-user-circle"></i>
                            </div>
                            <h6>Login</h6>
                        </a>
                    </li>
                </ul>

            </div>

        </nav>




        <div class="top-container"> </div>



        <div class="d-flex justify-content-center fixed-bottom">


            <a href="#mapButtonReturnPoint">
                <button class="rounded-pill btn-dark btn-lg d-lg-none d-xl-none" id="mapButton">map<i
                        class="fa-solid fa-map mx-1"></i></button></a>


        </div>


        <div class="container">

            <div class="visually-hidden" id="mapButtonReturnPoint"></div>

            <div class="row">

                <div class="" id="sticky-map">

                    <div class="col-lg-7" id="mapInResultPage"></div>
                </div>

                <!-- please add search result here-->

                <div id="resultsInLaptopView" class="pt-3 col-lg-4"></div>
            </div>

        </div>

    </main>











    <!-- Footer -->
    <div class="top-container"></div>

    <footer class="text-center text-lg-start bg-light text-muted">

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold my-4">
                            <i class="fas fa-gem me-3"></i>My favourite Playground inc.
                        </h6>

                    </div>
                    <!-- Grid column -->



                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            About us
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Our story</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Our data policy</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Become a partner</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Career</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> DUS, NRW, Germany</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4 d-flex justify-content-center bottom-container">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="">playground.nrw</a>
        </div>
        <!-- Copyright -->
    </footer>


    <!-- Footer -->


    <% if(label) { %> 
    <script>
        <% if(playgroundLabels.includes(label)) { %>
            sessionStorage.setItem('features', "<%= label %>");
        <% }
        if(playgroundEquipment.includes(label)) { %>
            sessionStorage.setItem('equipment', "<%= label %>");
        <% } %>
    </script>
    <% } %> 
    <% if(type) { %> 
    <script>
        <% if(types.includes(type)) { %>
            sessionStorage.setItem('type', "<%= type %>");
        <% } %>
    </script>
    <% } %> 
    <script src="/javascript/utils.js"></script>
    <script src="/javascript/url-search-params-polyfill/index.js"></script>
    <script src="/javascript/base/searchResultPage.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARgDXNRDqAFtg-mDbjeTrLOjrm1LBQwCc&libraries=places&map_ids=546de97e85a128a6&callback=initMap"></script>







</body>

</html>